.footer
{
    margin-top: 5% !important;
    margin-bottom: 10px;
    bottom: 0;
    left: 0;
    width: 80%;
    margin: auto;
    padding: 10px;
}

body{
  color: #999;
  text-align: center;
  padding-bottom: 60px;
}

h6{
  font-size: 1.5vb;
}

.bg {  
  background-image: url('content/default\ \(1\).jpeg'), linear-gradient(to bottom right, #110a24bd, #000000);
  background-blend-mode: multiply;
  background-size: 100vw 100vw;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #7289DA !important;
}

h2{
  color: white;
}

.r6-quickseason__image
{
  display:inline;
}

.trn-defstat__value
{
  display:inline;
}

.r6-quickseason__image img
{
  width: 5vw;
  height: auto;
}

table{
  margin: auto;
}